<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="me.phh.treble.overlay.sony.so.01m"
	android:versionCode="1"
	android:versionName="1.0">
	<overlay android:targetPackage="android"
		android:requiredSystemPropertyName="ro.vendor.build.fingerprint"
		android:requiredSystemPropertyValue="+*docomo/SO-01M/SO-01M*"
		android:priority="288"
		android:isStatic="true" />
</manifest>
